<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MongoDB CRUD App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>MongoDB CRUD aplikacija</h1>
  <a href="http://localhost:3000/users">Korisnici</a>
  <br>
  <a href="http://localhost:3000/courses">Tecajevi</a>
  <br>
  <a href="http://localhost:3000/content">Sadrzaj</a>
  <br>
  <a href="http://localhost:3000/packages">Paketi</a>
  <br>
  <a href="http://localhost:3000/certificates">Certifikati</a>
</body>
</html>
